<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225587724375-ddioj68up6gienhqvm0t9nfb66tpdg9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225587724375-ddioj68up6gienhqvm0t9nfb66tpdg9b</string>
	<key>API_KEY</key>
	<string>AIzaSyAmFFlD1vkQ1t5MXQmV8QRxlqCn1OvyHFY</string>
	<key>GCM_SENDER_ID</key>
	<string>225587724375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.im.ImChatApp</string>
	<key>PROJECT_ID</key>
	<string>imchatapp-sns</string>
	<key>STORAGE_BUCKET</key>
	<string>imchatapp-sns.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225587724375:ios:76604350472dbfd0</string>
	<key>DATABASE_URL</key>
	<string>https://imchatapp-sns.firebaseio.com</string>
</dict>
</plist>